<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>

  <h1>Welcome to Our Restaurant</h1>

  <a href="/story">Read Story</a>
  <a href="/ingredients">Read Ingredients</a>
  <a href="/taste">Read Taste</a>

  <!-- Link to script -->
  <script src="/script.js"></script>
</body>
</html>
